DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=ethio_news
FREE_NEWS_API_ENDPOINT=https://gnews.io/api/v4/search?q=ethiopia&lang=en&max=25
FREE_NEWS_API_KEY=your_api_key_here